<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/group.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true, category_filter=["success", "info", "danger"]) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" style="width: 100%; z-index: 999">
    {{ message }}
      <a class="close" href="#" onclick="this.parentElement.remove(); return false">×</a>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div id="logo" style="display: flex; align-items: center;">
    <img src="{{ url_for('static', filename='../images/VolunteerConnectLogo.png') }}" alt="VolunteerConnect Logo" style="height: 5rem; margin-right: 1rem;">
    <h1 style="margin: 0; font-family: 'Audiowide', sans-serif; color: #023020;">VolunteerConnect</h1>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'home' %}active{% endif %}" href="{{ url_for('routes.home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'info' %}active{% endif %}" href="{{ url_for('routes.info') }}">Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'leaderboard' %}active{% endif %}" href="{{ url_for('routes.leaderboard') }}">Leaderboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'events' %}active{% endif %}" href="{{ url_for('routes.events') }}">Events</a>
    </li>
    {% if current_user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'login' %}active{% endif %}" href="{{ url_for('routes.login') }}">Login</a>
        </li>
    {% else %}
        {% if current_user.role == 'volunteer' %}
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'rewards' %}active{% endif %}" href="{{ url_for('routes.rewards') }}">My Rewards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'manage-memberships' %}active{% endif %}" href="{{ url_for('routes.add_member') }}">Manage Memberships</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link {% if active_tab == 'profile' %}active{% endif %}" href="{{ url_for('routes.user_profile', name=current_user.name) }}">Profile</a>
        </li>

        {% if current_user.role == 'volunteering organization' %}
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'add-hours' %}active{% endif %}" href="{{ url_for('routes.add_hours') }}">Add Hours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'create-event' %}active{% endif %}" href="{{ url_for('routes.create_event') }}">Create Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'manage-memberships' %}active{% endif %}" href="{{ url_for('routes.add_member') }}">Manage Memberships</a>
            </li>
        {% endif %}

        {% if current_user.role == 'admin' %}
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'add-user' %}active{% endif %}" href="{{ url_for('routes.add_user') }}">Admin - Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'remove-user' %}active{% endif %}" href="{{ url_for('routes.remove_user') }}">Admin - Remove User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'database' %}active{% endif %}" href="{{ url_for('routes.view_database') }}">Admin - View Database</a>
            </li>
        {% endif %}

        <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.logout') }}">Logout</a>
        </li>
    {% endif %}
</ul>

<div class="content">
{% block content %}
{% endblock content %}
</div>

<footer>
    <p>&copy; 2024 Volunteer Reward System</p>
</footer>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>