<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/group.png') }}" type="image/png">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true, category_filter=["success", "info", "danger"]) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" style="width: 100%; z-index: 999">
    {{ message }}
      <a class="close" href="#" onclick="this.parentElement.remove(); return false">×</a>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('routes.home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('routes.info') }}">Information</a>
    </li>
    {% if current_user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('routes.login') }}">Login</a>
        </li>
    {% else %}
        {% if current_user.role == 'volunteer' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.rewards') }}">My Rewards</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('routes.user_profile', name=current_user.name) }}">Profile</a>
        </li>

        {% if current_user.role != 'volunteer' %} {# This means admins and volunteering orgs can add hours #}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.add_hours') }}">Add Hours</a>
            </li>
        {% endif %}

        {% if current_user.role == 'admin' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.remove_user') }}">Admin - Remove User</a>
            <li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.view_database') }}">Admin - View Database</a>
            <li>
        {% endif %}

        <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.logout') }}">Logout</a>
        </li>
    {% endif %}
</ul>


<main class="p-2">
    {% block content %}
    {% endblock content %}
</main>

<footer>
    <p>&copy; 2024 Volunteer Reward System</p>
</footer>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>